.profilePage {
	color: seagreen;
}

.profilePage__container {
	padding: 20px 0 0 0px;
	// margin-bottom: 40px;
}

.avatar {
	margin-bottom: 40px;
	display: flex;
	flex: 0 0 200px;
	height: 200px;
	img {
		border-radius: 50%;
		max-width: 100%;
		max-height: 200px;
	}
}
