.advert {
	color: #12215d;
	font-size: 17px;
}

.advert__container {
}
.advert__Item {
	padding: 5px 10px 5px 5px;
	background-color: rgba(51, 140, 228, 0.1);
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	margin-top: 40px;
	& *:not(:last-child) {
		margin-bottom: 10px;
	}
}

.advert__picture {
	margin-right: 20px;
	flex: 0 0 60px;
	width: 70px;
	display: flex;
	align-items: flex-start;
}

.advert__avatar {
	max-width: 100%;
	max-height: 60px;
	border-radius: 50%;
}

.advert__content {
	white-space: nowrap;
	padding-right: 30px;
	margin-left: auto;
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	flex-direction: column;
	// align-items: flex-end;
}
.message {
	flex: 1 1 auto;
	white-space: nowrap;
}
.iconLike {
	position: relative;
	width: 20px;
	height: 20px;
}

.iconLikeActive {
	background-color: rgba(46, 139, 87, 0.5);
	border-radius: 50%;
}

.iconDislike {
	width: 20px;
	height: 20px;
}

.iconDislikeActive {
	background-color: rgba(255, 0, 0, 0.6);
	border-radius: 50%;
}

.button {
	align-self: flex-end;
}
