.user {
	margin-bottom: 40px;
	display: flex;
	flex: 0 1 50%;
	font-size: 15px;
	color: red;
	column-gap: 15px;
}

.userPhoto {
	align-items: flex-start;
	height: 80px;
	width: 80px;
	img {
		max-width: 100%;
		max-height: 80px;
	}
	& *:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
}

.userInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// & *:not(:last-child) {
	// 	margin-bottom: 10px;
	// }
}
