.button {
	font-weight: 700;
	min-width: 60px;
	min-height: 10px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 1.3;
	padding: 5px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	background-color: rgba(51, 140, 228, 1);
	color: #fff;
	&:hover {
		transition: all 0.3s ease 0s;
		color: rgba(51, 140, 228, 1);
		background-color: #fff;
		outline: 1px dashed blue;
	}
	&:active {
		box-shadow: 0 1px #666;
		transform: translateY(1px);
	}
}
