.pageNumber {
	font-weight: 400;
	cursor: pointer;
	margin-right: 3px;
	&:hover {
		color: rgb(207, 62, 62);
	}
}
.paginator {
	margin: 0px 0 15px 0;
}

.selectedPage {
	border: 1px solid black;
	font-weight: 700;
}

.paginationButton {
	border: 2px solid #fff;
	cursor: pointer;
	background-color: #2b3c55;
	color: #fff;
	border-radius: 40%;
	&:hover {
		color: rgb(179, 161, 161);
	}
	&.rightButton {
		margin-left: 5px;
	}
	&.leftButton {
		margin-right: 5px;
	}
}
