.pageNumber {
	color: rgba(43, 60, 85, 1);
	font-weight: 400;
	cursor: pointer;
	&:hover {
		color: rgb(16, 138, 154);
	}
}
.paginator {
	align-items: center;
	display: flex;
	margin: 10px 0 20px 0;
	column-gap: 7px;
}

.selectedPage {
	font-weight: 700;
	color: rgb(16, 138, 154);
}
