.AppWrapper {
	/* max-width: 1530px; */
	/* margin: 0 auto; */
	/* min-height: 100%; */
	overflow: hidden;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: rgb(205, 229, 253, 0.5);
}

.AppWrapper__items {
	display: flex;
	height: 100%;
}

.AppWrapper__content {
	flex: 1 1 auto;
	padding: 100px 0 0 10px;
}
