.AppWrapper {
	max-width: 100%;
	overflow: hidden;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: rgb(205, 229, 253, 0.5);
}

.AppWrapper__items {
	display: flex;
	height: 100%;
	padding: 0 10px;
}

.AppWrapper__content {
	flex: 1 1 auto;
	margin: 100px 0 0 0px;
	overflow-x: hidden;
	flex-wrap: wrap;
	padding-left: 20px;
}

@media (max-width: 1050px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
