.button {
	display: inline-flex;
	background: #2b3c55;
	border-radius: 50px;
	min-height: 50px;
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	padding: 0 50px;
	text-align: center;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	letter-spacing: 5px;
	margin: 25px 0px 0px 0px;
	border: 2px solid #2b3c55;
	&:hover {
		color: #2b3c55;
		background-color: #fff;
		transition: all 0.3s ease 0s;
	}
	&:active {
		box-shadow: 0 2px #666;
		transform: translateY(2px);
	}
}

// .button:after {
// 	content: "";
// 	background: green;
// 	display: block;
// 	position: absolute;
// 	padding-top: 40%;
// 	padding-left: 100%;
// 	bottom: 0;
// 	opacity: 0;
// 	transition: all 0.5s ease 0s;
// }

// .button:active:after {
// 	padding: 0;
// 	margin: 0;
// 	opacity: 1;
// 	transition: 0s;
// }
